<% include ../partials/header %>
<% include ../partials/sidebar-1 %>



<div class="container-fluid">
	<div class="page-body">
	<a id="back-to"> <--- Back to </a>
	<div class="arrows">

		<span class="glyphicon glyphicon-arrow-left" id="prev"></span>
		<span class="glyphicon glyphicon-arrow-right" id="next"></span>
	</div>
		<h1 class="text-center"><%=project.name%></h1>
		
	
		<img class="img-responsive header-img" src="<%= project.image%>">
		
	

		<div class="code-buttons">
			<a class="btn btn-default" href="<%=project.demo %>" target="_blank">Demo</a>
			<a class="btn btn-default" href="<%=project.code %>" target="_blank">Code</a>
		</div>
		<p class="main-text"><%= project.description %></p>
	</div>
</div>





<script type="text/javascript">

	var count = 9; //hardcoded number of projects

	var pathname = window.location.pathname; // Returns path only
	console.log("pathname is " + pathname);
	pathname = pathname.substring(pathname.indexOf("/") + 1);
	id = pathname.substring(pathname.indexOf("/") + 1);
	setBackButton(id);

	function setBackButton(num){
		if(num <=3){
			$("#back-to").text("<--- Back to Featured Projects");
			$("#back-to").attr("href", "/");
		}else if(num >=4 && num <= 9){
			$("#back-to").text("<--- Back to Portfolio");
			$("#back-to").attr("href", "/portfolio#css-images");
		}
	}

	$("#next").on('click', function(){
		id = parseInt(id);
		if(id < count){
			id = id +1;
			window.location.replace("/projects/" + id);
			console.log(id);
		}else {
			window.location.replace("/projects/" + 1);
		}
	})

	$("#prev").on('click', function(){
		id = parseInt(id);
		if(id>1){
			id = id - 1;
			window.location.replace("/projects/" + id);
			console.log(id);
		}else {
			window.location.replace("/projects/" + count);
		}
	})
</script>

<% include ../partials/footer %>